*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#openbtn{
    width: 200px;
    padding: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: aliceblue;
    box-shadow: 3px 3px 3px gray;
}

img{
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 3px 3px 10px #000;
}