body{
    background-color: black;
    color: white;
    padding: 30px;
}

.btn-crazy{
    position: absolute;
    top: 30px;
    left: 35%;
    width: 30%;
    text-align: center;
    transition: 0.5s ease all;
}

.jumbotron{
    padding: 30px;
}



.text-giant{
    font-size: 40px;
}